* {
    box-sizing: border-box; /*terá explicação*/
    list-style: none;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  div img {
      width: 5rem;
      height: auto;
      margin-left: 1rem;
  }
  
  header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      
  }
  
  header ul {
      display: flex;
     
  }
  
  header ul li {
   margin-left: 30px;
  }
  
  
  
  #myVideo {
    position:static ; /*fixed*/ /*terá explicação*/
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position:absolute; /*terá explicação*/
    margin-top: -40vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100vw;
    padding: 1vh;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  
  
  .sessao1 {
    display: flex;
    padding: 10vh;
    background-color: rgba(0, 255, 255, 0.427);
    color: black;
  }
  
  .sessao1 div p {
  text-align: left;
  margin: 0.5rem;
  font-weight: 600;
  }

  #div-pai{
   width: 100vw;  /* Largura toatl disponível*/
   height: 100vh; /*Altura total disponível*/
   display: flex; /*Para os itens ficarem lado á lado*/
   gap: 40px; /*Espaço entre os itens*/
   justify-content: center; /*Justificando os itens na horizontal*/
   align-items: center; /* Alinhamento vertical*/
   flex-direction: row; /**/
   flex-wrap: wrap; /* Fazer a quebra dos itens */
  }

  #div-pai div{
   height: 9rem; /* Altura */
   width: 9rem; /* Largura */
   border: 0.1rem solid black; /* Estilização da borda */
   background-color: royalblue; /* Cor do fundo */
   font-size: 4rem; /* Tamanho da fonte */
   box-shadow: 10px 10px 10px black; /* Sombra da caixa */
   border-radius: 1rem; /* O Arredondamento da borda*/
  }